@font-face {
    font-family: sevenSegments;
    src: url(fonts/Seven\ Segment.ttf);
}

html,
body {
    background-color: #457b9d;
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', Verdana, sans-serif;

}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container {
    width: 50%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.top-figure{
    background-color: #3c3a3b;
    width: 20rem;
    padding: 0 0.7rem;
    height: 2rem;
    border: none;
    border-radius: 400px 400px 0 0 / 100px 100px 0 0;
}

.calculator {
    background-color: #3c3a3b;
    padding: 0 2rem 2rem 2rem;
    width: 20rem;
    border-radius: 25px 25px 50px 50px / 50px 50px 100px 100px;

}

.top-decoration {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0 1rem 0;
}

.solar-panel{
    display: flex;
    border: 2px solid #585139;
    border-radius: 10px;
}

.solar-panel>div{
    border: 1px solid #585139;
    /* background-color: #634b57; */
    background-color: #403534;
    width: 1rem;
}

.logo>p{
    color: white;
    text-align: center;
    font-weight: 700;
    font-size: 1.5rem;
    margin: 0;
    padding: 0;
}
.logo>p>span{
    font-size: 0.9rem;
    margin: 0;
}
.logo>p:nth-child(2) {
    font-size: 1rem;
}

.display-space {
    /* background-color: lightslategrey; */
    padding: 0 1rem;
}

.display{
    background-color: #7e8a79;
    border-radius: 10px;
    height: 4rem;
    margin: 2rem 0 3rem 0;

}

.result{
    display: flex;
    flex-direction: row-reverse;
}

.result>p{
    font-family: sevenSegments;
    /* font-weight: 900; */
    font-size: 4rem;
    color: #141c16;
    margin: 0;
}

.operation-used {
    display: flex;
    gap: 1rem;
}

.operation-used>div {
    background-color: green;
}

.top-buttons{
    display:flex;
    justify-content: space-around;
    margin-bottom: 1rem;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    max-width: inherit;
}

.btn{
    background-color: #000;
    color: white;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 700;
    border: none;
    margin: 0.2rem;
    border-radius: 10px;
    white-space: normal;
    padding: 0.5rem 0;
    width: 4.5rem;
}

#add {
    background-color: #0286ac;
    color: white;
    grid-area:  4 / 4 / 6 / 5;
}

#clear{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #0286ac;
    color: white;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 700;
    border: none;
    border-radius: 50%;
    padding: 2rem;
    width: 4rem;
    height: 4rem;
}

#clear>p{
    margin: 0;
}

#clear>hr{
    border: 2px solid #FFF;
    width: 2rem;
    margin: 0;
}

.top-buttons>div{
    display: flex;
    align-items: flex-end;
    gap: 1rem;
    padding-bottom: 1rem;
}

.top-buttons>div>div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.top-buttons>div>div>p {
    color: #FFF;
    font-weight: 500;
    margin: 0;
}

.misc{
    background-color: yellow;
    width: 4rem;
    height: 1rem;
    border: none;
    border-radius: 40%;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.3rem;
    min-height: 50px;
    background: #a8dadc;
    font-size: 1.5rem;
    color: #256f9c;
}

footer>a{
    color: #9b2226;
    text-decoration: none;
    
}